  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* Body */
.body{
  background-color: #424242;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2rem;
  
}


.project-card1{
  margin-bottom: 2rem;
}

.project-card2{
  margin-bottom: 2rem;

}

.twocards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  
}

/* Footer */
.footer{
    background-color: #DFDFE0;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
    
  .icons {  
    padding-bottom: 10px;
  }
  
  .nav-words{
    opacity: 0.8;
  }
  
  .nav-words:hover{
    opacity: 1;
  }
  
  .copyright{
    color: grey;
  }

  @media screen and (max-width: 700px){

    .twocards {
      flex-direction: column;
    }
    .project-card1 .project-card2{
      width: 100%;
      
    }
  }

  /* Media Queries */
 
  @media screen and (min-width: 300px){

    .project-card3{
      flex-direction: column;
    }

  }