@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* Body */
.body{
    background-color: #424242;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 8rem;
    
}

.landing-page{
  display: flex;
  justify-content: center;
}

.header-card{
  text-align: center;
}

.profile-image{
  border-radius: 50%;
}

.link-in-card{
  text-decoration: none;
}
.card-animation{

  gap: 2rem;
  color: white;
}
.text-button{
  color: white;
  margin-top: 4rem;
}

/* Footer */
.footer{
  background-color: #DFDFE0;
  text-align: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
  
.icons {  
  padding-bottom: 10px;
}

.nav-words{
  opacity: 0.8;
}

.nav-words:hover{
  opacity: 1;
}

.copyright{
  color: grey;
}

/* Media Queries */

@media screen and (max-width: 700px) {
  
  img {
    display: none;
  }
  
  .body{
    padding: 5rem;
  }

}

@media screen and (min-width: 300px) {

  

}