@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/* Body */
.body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    padding: 20px;
    padding-top: 60px;
}

.header-card{
  text-align: center;
}

.profile-image{
  border-radius: 20%;
}

.link-in-card{
  text-decoration: none;
}
.card-animation{
  padding-top: 5rem;
}

/* Footer */
.footer{
  background-color: #DFDFE0;
  text-align: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
  
.icons {  
  padding-bottom: 10px;
}

.nav-words{
  opacity: 0.8;
}

.nav-words:hover{
  opacity: 1;
}

.copyright{
  color: grey;
}