@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}


/* Body */
.body{
  background-color: #424242;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 2rem;
}

.testi-card{
  margin: 1rem;
}

/* Footer */
.footer{
    background-color: #DFDFE0;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
    
  .icons {  
    padding-bottom: 10px;
  }
  
  .nav-words{
    opacity: 0.8;
  }
  
  .nav-words:hover{
    opacity: 1;
  }
  
  .copyright{
    color: grey;
  }

  /* Media Queries */

  @media screen and (max-width: 700px){
    .testis{
      flex-direction: column;
      align-items: center;
    }

  }

